/* ------------------------------- basic color ------------------------------ */
$heading_color: #000000;
$primary_color: #c5007b;
$primary_dark_color: #b10870;
$secondary_color: #444444;
$light_color: #ffffff;
$darkColor: #000000;

/* -------------------------- section background color ------------------------- */
$bodyColor: #f9f9f9;
$footerBgColor: #f1f1f1;
$footerBottomBg_color: $light_color;
$footerHolderBg: #5f5f5e;
$bgCardLightClor: #ffffff;

/* ---------------------------- typography color ---------------------------- */
$linkColor: #0daae4;

/* ------------------------- button background color ------------------------ */
$defaultButtonColor: #efefef;
$defaultButtonDarkColor: #dad8d8;
