@import "fonts";
@import "colors";
@import "mixin";

/*== button css ==*/

/*== common typography ==*/
%typoBasic {
  font-size: $small_font_size;
  font-weight: $wightRegular;
}

%clearFormElement {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

%clearInput {
  @extend %clearFormElement;

  &:focus {
    @extend %clearFormElement;
  }
}
