@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin transform($translateY) {
  -webkit-transform: $translateY;
  -ms-transform: $translateY;
  transform: $translateY;
}

@mixin boxShadow($boxShadow) {
  box-shadow: $boxShadow;
  -webkit-box-shadow: $boxShadow;
  -o-box-shadow: $boxShadow;
  -ms-box-shadow: $boxShadow;
}

@mixin textShadow($textShadow) {
  text-shadow: $textShadow;
  -o-text-shadow: $textShadow;
  -webkit-text-shadow: $textShadow;
  -ms-text-shadow: $textShadow;
}

@mixin centerLeft() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerTop() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin btn_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}
