@import "fonts";
@import "colors";
@import "mixin";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #454545;
  font-size: 14px;
  background: $bodyColor;
  font-family: $fontBasic !important;
}

a {
  @include transition(all 0.3s);
  outline: none !important;

  &.link_hover {
    color: $primary_color !important;
  }
}

a:hover {
  @include transition(all 0.3s);
  color: $primary_color;
}

::selection {
  color: #fff;
  background: #c5007b;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $fontBasic;
  font-weight: $wightRegular;
  margin: 0;
  color: $heading_color;
}

h1 {
  font-size: 30px;
  line-height: 35px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 17px;
  line-height: 20px;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

select {
  padding: 3px;
  border-color: #999999;
  color: #666666;
  @include btn_radius(3px);
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  // margin: 0;
  color: $secondary_color;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

b,
strong {
  font-weight: bold;
}

a,
a:hover {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                               CUSTOME CLASSES                              */
/* -------------------------------------------------------------------------- */

.spacer-10 {
  height: 10px;
  background: $bodyColor;
  position: relative;
}

.width100,
.w100 {
  width: 100%;
}

.fullWidth {
  width: 100% !important;
}

.text-primary {
  color: $primary_color !important;
}

.textMute {
  color: $secondary_color;
}

.linkColor {
  color: $linkColor;
}

.underline {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                                    FONT                                    */
/* -------------------------------------------------------------------------- */

.tuc {
  text-transform: uppercase;
}

.tct {
  text-transform: capitalize;
}

.font_light {
  font-weight: 300;
}

.font_bold {
  font-weight: 700;
}

.font_regular {
  font-weight: 400;
}

.font_thin {
  font-weight: 100;
}

.b {
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/*                                 BOXZ SHADOW                                */
/* -------------------------------------------------------------------------- */

.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2) !important;
}

.box-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}

/*----------------------
      ALIGN
  -----------------------*/

.center,
.left,
.right {
  position: relative;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.dinline li,
.dinline,
.dinline a,
.dinline > div {
  display: inline-block;
}

/*-----------------------
      FONTS
  ------------------------*/
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.font10 {
  font-size: 10px;
}

.font9 {
  font-size: 9px;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font22 {
  font-size: 22px;
}

.font24 {
  font-size: 24px;
}

.font26 {
  font-size: 26px;
}

.font28 {
  font-size: 28px;
}

.font32 {
  font-size: 32px;
}

.font30 {
  font-size: 30px;
}

.font36 {
  font-size: 36px;
}

.font38 {
  font-size: 38px;
}

.font48 {
  font-size: 48px;
}

.font42 {
  font-size: 42px;
}

.font48 {
  font-size: 48px;
}

.font50 {
  font-size: 50px;
}

.font52 {
  font-size: 52px;
}

.font60 {
  font-size: 60px;
}

.font80 {
  font-size: 80px;
}

.font120 {
  font-size: 120px;
}

.font140 {
  font-size: 140px;
}

/*------------------------------
      RESPONSIVE
  -------------------------------*/
@media only screen and (min-width: 1200px) {
  .lg-center {
    text-align: center;
  }

  .lg-left {
    text-align: left;
  }

  .lg-right {
    text-align: right;
  }

  .lg-font12 {
    font-size: 12px;
  }

  .lg-font14 {
    font-size: 14px;
  }

  .lg-font16 {
    font-size: 16px;
  }

  .lg-font18 {
    font-size: 18px;
  }

  .lg-font20 {
    font-size: 20px;
  }

  .lg-font22 {
    font-size: 22px;
  }

  .lg-font24 {
    font-size: 24px;
  }

  .lg-font26 {
    font-size: 26px;
  }

  .lg-font28 {
    font-size: 28px;
  }

  .lg-font32 {
    font-size: 32px;
  }

  .lg-font30 {
    font-size: 30px;
  }

  .lg-font36 {
    font-size: 36px;
  }

  .lg-font38 {
    font-size: 38px;
  }

  .lg-font48 {
    font-size: 48px;
  }

  .lg-font42 {
    font-size: 42px;
  }

  .lg-font48 {
    font-size: 48px;
  }

  .lg-font50 {
    font-size: 50px;
  }

  .lg-font52 {
    font-size: 52px;
  }

  .lg-font60 {
    font-size: 60px;
  }

  .lg-font80 {
    font-size: 80px;
  }

  .lg-font120 {
    font-size: 120px;
  }

  .lg-font140 {
    font-size: 140px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .md-center {
    text-align: center;
  }

  .md-left {
    text-align: left;
  }

  .md-right {
    text-align: right;
  }

  .md-font12 {
    font-size: 12px;
  }

  .md-font14 {
    font-size: 14px;
  }

  .md-font16 {
    font-size: 16px;
  }

  .md-font18 {
    font-size: 18px;
  }

  .md-font20 {
    font-size: 20px;
  }

  .md-font22 {
    font-size: 22px;
  }

  .md-font24 {
    font-size: 24px;
  }

  .md-font26 {
    font-size: 26px;
  }

  .md-font28 {
    font-size: 28px;
  }

  .md-font32 {
    font-size: 32px;
  }

  .md-font30 {
    font-size: 30px;
  }

  .md-font36 {
    font-size: 36px;
  }

  .md-font38 {
    font-size: 38px;
  }

  .md-font48 {
    font-size: 48px;
  }

  .md-font42 {
    font-size: 42px;
  }

  .md-font48 {
    font-size: 48px;
  }

  .md-font50 {
    font-size: 50px;
  }

  .md-font52 {
    font-size: 52px;
  }

  .md-font60 {
    font-size: 60px;
  }

  .md-font80 {
    font-size: 80px;
  }

  .md-font120 {
    font-size: 120px;
  }

  .md-font140 {
    font-size: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sm-center {
    text-align: center;
  }

  .sm-left {
    text-align: left;
  }

  .sm-right {
    text-align: right;
  }

  .sm-font12 {
    font-size: 12px;
  }

  .sm-font14 {
    font-size: 14px;
  }

  .sm-font16 {
    font-size: 16px;
  }

  .sm-font18 {
    font-size: 18px;
  }

  .sm-font20 {
    font-size: 20px;
  }

  .sm-font22 {
    font-size: 22px;
  }

  .sm-font24 {
    font-size: 24px;
  }

  .sm-font26 {
    font-size: 26px;
  }

  .sm-font28 {
    font-size: 28px;
  }

  .sm-font32 {
    font-size: 32px;
  }

  .sm-font30 {
    font-size: 30px;
  }

  .sm-font36 {
    font-size: 36px;
  }

  .sm-font38 {
    font-size: 38px;
  }

  .sm-font48 {
    font-size: 48px;
  }

  .sm-font42 {
    font-size: 42px;
  }

  .sm-font48 {
    font-size: 48px;
  }

  .sm-font50 {
    font-size: 50px;
  }

  .sm-font52 {
    font-size: 52px;
  }

  .sm-font60 {
    font-size: 60px;
  }

  .sm-font80 {
    font-size: 80px;
  }

  .sm-font120 {
    font-size: 120px;
  }

  .sm-font140 {
    font-size: 140px;
  }
}

@media only screen and (max-width: 767px) {
  .xs-center {
    text-align: center;
  }

  .xs-left {
    text-align: left;
  }

  .xs-right {
    text-align: right;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .xsl-center {
    text-align: center;
  }

  .xsl-left {
    text-align: left;
  }

  .xsl-right {
    text-align: right;
  }
}

/*--------------------
      WIDTH
  ---------------------*/
.width50 {
  width: 50px;
}

.width60 {
  width: 60px;
}

.width70 {
  width: 70px;
}

.width80 {
  width: 80px;
}

.width90 {
  width: 90px;
}

.width100 {
  width: 100px;
}

.width110 {
  width: 110px;
}

.width120 {
  width: 120px;
}

.width50p {
  width: 50%;
}

.width70p {
  width: 70%;
}

.width80p {
  width: 80%;
}

.width90p {
  width: 90%;
}

.width100p,
.width100p img {
  width: 100%;
}

/*-----------------------
      DISPLAY
  ------------------------*/

.font300 {
  font-weight: 300;
}

.font400 {
  font-weight: 400;
}

.font500 {
  font-weight: 500;
}

.font600 {
  font-weight: 600;
}

.font700 {
  font-weight: 700;
}

.font800 {
  font-weight: 800;
}

/*--------------------
      CONTENT POSITION
  ---------------------*/
.fix {
  overflow: hidden;
}

.relative {
  position: relative;
  overflow: hidden;
}

.absulute {
  position: absolute;
}

.v-center {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 9;
}

.h-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.h-center-reverse {
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.content-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.display-block {
  display: block !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .sm-width100p {
    width: 100%;
  }

  .flex-v-center {
    display: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .xs-width100p {
    width: 100%;
  }

  .flex-v-center {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    display: inherit;
  }
}

/*--------------------------
      MARGIN CSS
  ----------------------------*/
.mt100 {
  margin-top: 100px;
}

.mt90 {
  margin-top: 90px;
}

.mt80 {
  margin-top: 80px;
}

.mt70 {
  margin-top: 70px;
}

.mt60 {
  margin-top: 60px;
}

.mt50 {
  margin-top: 50px;
}

.mt40 {
  margin-top: 40px;
}

.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.ml26 {
  margin-left: 26px;
}

.no-margin {
  margin: 0;
}

.mb100 {
  margin-bottom: 100px;
}

.mb150 {
  margin-bottom: 150px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb0 {
  margin-bottom: 0;
}

.mr10 {
  margin-right: 10px;
}

@media only screen and (min-width: 1200px) {
  /*----------------------------------
        MEDIUM LAYOUT: 1280px
    -----------------------------------*/
  .mr50 {
    margin-right: 50px;
  }

  .lg-mb0 {
    margin-bottom: 0;
  }

  .lg-mb10 {
    margin-bottom: 10px;
  }

  .lg-mb20 {
    margin-bottom: 20px;
  }

  .lg-mb30 {
    margin-bottom: 30px;
  }

  .lg-mb40 {
    margin-bottom: 40px;
  }

  .lg-mb50 {
    margin-bottom: 50px;
  }

  .lg-mb60 {
    margin-bottom: 60px;
  }

  .lg-mb70 {
    margin-bottom: 70px;
  }

  .lg-mb80 {
    margin-bottom: 80px;
  }

  .lg-mb100 {
    margin-bottom: 100px;
  }

  .lg-mt0 {
    margin-top: 0;
  }

  .lg-mt10 {
    margin-top: 10px;
  }

  .lg-mt20 {
    margin-top: 20px;
  }

  .lg-mt30 {
    margin-top: 30px;
  }

  .lg-mt40 {
    margin-top: 40px;
  }

  .lg-mt50 {
    margin-top: 50px;
  }

  .lg-mt60 {
    margin-top: 60px;
  }

  .lg-mt70 {
    margin-top: 70px;
  }

  .lg-mt80 {
    margin-top: 80px;
  }

  .lg-mt100 {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /*----------------------------------
        MEDIUM LAYOUT: 1280px
    -----------------------------------*/
  .md-mb0 {
    margin-bottom: 0;
  }

  .md-mb10 {
    margin-bottom: 10px;
  }

  .md-mb20 {
    margin-bottom: 20px;
  }

  .md-mb30 {
    margin-bottom: 30px;
  }

  .md-mb40 {
    margin-bottom: 40px;
  }

  .md-mb50 {
    margin-bottom: 50px;
  }

  .md-mb60 {
    margin-bottom: 60px;
  }

  .md-mb70 {
    margin-bottom: 70px;
  }

  .md-mb80 {
    margin-bottom: 80px;
  }

  .md-mb100 {
    margin-bottom: 100px;
  }

  .md-mt0 {
    margin-top: 0;
  }

  .md-mt10 {
    margin-top: 10px;
  }

  .md-mt20 {
    margin-top: 20px;
  }

  .md-mt30 {
    margin-top: 30px;
  }

  .md-mt40 {
    margin-top: 40px;
  }

  .md-mt50 {
    margin-top: 50px;
  }

  .md-mt60 {
    margin-top: 60px;
  }

  .md-mt70 {
    margin-top: 70px;
  }

  .md-mt80 {
    margin-top: 80px;
  }

  .md-mt100 {
    margin-top: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*----------------------------------
        TABLET LAYOUT: 768px
    -----------------------------------*/
  .sm-mb0 {
    margin-bottom: 0;
  }

  .sm-mb10 {
    margin-bottom: 10px;
  }

  .sm-mb20 {
    margin-bottom: 20px;
  }

  .sm-mb30 {
    margin-bottom: 30px;
  }

  .sm-mb40 {
    margin-bottom: 40px;
  }

  .sm-mb50 {
    margin-bottom: 50px;
  }

  .sm-mb60 {
    margin-bottom: 60px;
  }

  .sm-mb70 {
    margin-bottom: 70px;
  }

  .sm-mb80 {
    margin-bottom: 80px;
  }

  .sm-mb100 {
    margin-bottom: 100px;
  }

  .sm-mt0 {
    margin-top: 0;
  }

  .sm-mt10 {
    margin-top: 10px;
  }

  .sm-mt20 {
    margin-top: 20px;
  }

  .sm-mt30 {
    margin-top: 30px;
  }

  .sm-mt40 {
    margin-top: 40px;
  }

  .sm-mt50 {
    margin-top: 50px;
  }

  .sm-mt60 {
    margin-top: 60px;
  }

  .sm-mt70 {
    margin-top: 70px;
  }

  .sm-mt80 {
    margin-top: 80px;
  }

  .sm-mt100 {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  /*----------------------------------
        MOBILE LAYOUT: 320px
    -----------------------------------*/
  .xs-mb0 {
    margin-bottom: 0;
  }

  .xs-mb10 {
    margin-bottom: 10px;
  }

  .xs-mb20 {
    margin-bottom: 20px;
  }

  .xs-mb30 {
    margin-bottom: 30px;
  }

  .xs-mb40 {
    margin-bottom: 40px;
  }

  .xs-mb50 {
    margin-bottom: 50px;
  }

  .xs-mb60 {
    margin-bottom: 60px;
  }

  .xs-mb70 {
    margin-bottom: 70px;
  }

  .xs-mb80 {
    margin-bottom: 80px;
  }

  .xs-mb90 {
    margin-bottom: 90px;
  }

  .xs-mb100 {
    margin-bottom: 100px;
  }

  .xs-mt0 {
    margin-top: 0;
  }

  .xs-mt10 {
    margin-top: 10px;
  }

  .xs-mt20 {
    margin-top: 20px;
  }

  .xs-mt30 {
    margin-top: 30px;
  }

  .xs-mt40 {
    margin-top: 40px;
  }

  .xs-mt50 {
    margin-top: 50px;
  }

  .xs-mt60 {
    margin-top: 60px;
  }

  .xs-mt70 {
    margin-top: 70px;
  }

  .xs-mt80 {
    margin-top: 80px;
  }

  .xs-mt100 {
    margin-top: 100px;
  }
}

/* ----------------------------
      PADDING CSS
  ------------------------------ */

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .md-padding-top-10 {
    padding-top: 10px;
  }

  .md-padding-top-20 {
    padding-top: 20px;
  }

  .md-padding-top-30 {
    padding-top: 30px;
  }

  .md-padding-top-40 {
    padding-top: 40px;
  }

  .md-padding-top-50 {
    padding-top: 50px;
  }

  .md-padding-top-60 {
    padding-top: 60px;
  }

  .md-padding-top-70 {
    padding-top: 70px;
  }

  .md-padding-top-80 {
    padding-top: 80px;
  }

  .md-padding-top-90 {
    padding-top: 90px;
  }

  .md-padding-top-100 {
    padding-top: 100px;
  }

  .md-padding-bottom-10 {
    padding-bottom: 10px;
  }

  .md-padding-bottom-20 {
    padding-bottom: 20px;
  }

  .md-padding-bottom-30 {
    padding-bottom: 30px;
  }

  .md-padding-bottom-40 {
    padding-bottom: 40px;
  }

  .md-padding-bottom-50 {
    padding-bottom: 50px;
  }

  .md-padding-bottom-60 {
    padding-bottom: 60px;
  }

  .md-padding-bottom-70 {
    padding-bottom: 70px;
  }

  .md-padding-bottom-80 {
    padding-bottom: 80px;
  }

  .md-padding-bottom-90 {
    padding-bottom: 90px;
  }

  .md-padding-bottom-100 {
    padding-bottom: 100px;
  }

  /*------------------*/
  .md-padding100 {
    padding: 100px;
  }

  .md-padding90 {
    padding: 90px;
  }

  .md-padding80 {
    padding: 80px;
  }

  .md-padding70 {
    padding: 70px;
  }

  .md-padding60 {
    padding: 60px;
  }

  .md-padding50 {
    padding: 50px;
  }

  .md-padding40 {
    padding: 40px;
  }

  .md-padding30 {
    padding: 30px;
  }

  .md-padding20 {
    padding: 20px;
  }

  .md-padding10 {
    padding: 10px;
  }

  .md-padding0 {
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sm-padding-top-10 {
    padding-top: 10px;
  }

  .sm-padding-top-20 {
    padding-top: 20px;
  }

  .sm-padding-top-30 {
    padding-top: 30px;
  }

  .sm-padding-top-40 {
    padding-top: 40px;
  }

  .sm-padding-top-50 {
    padding-top: 50px;
  }

  .sm-padding-top-60 {
    padding-top: 60px;
  }

  .sm-padding-top-70 {
    padding-top: 70px;
  }

  .sm-padding-top-80 {
    padding-top: 80px;
  }

  .sm-padding-top-90 {
    padding-top: 90px;
  }

  .sm-padding-top-100 {
    padding-top: 100px;
  }

  .sm-padding-bottom-10 {
    padding-bottom: 10px;
  }

  .sm-padding-bottom-20 {
    padding-bottom: 20px;
  }

  .sm-padding-bottom-30 {
    padding-bottom: 30px;
  }

  .sm-padding-bottom-40 {
    padding-bottom: 40px;
  }

  .sm-padding-bottom-50 {
    padding-bottom: 50px;
  }

  .sm-padding-bottom-60 {
    padding-bottom: 60px;
  }

  .sm-padding-bottom-70 {
    padding-bottom: 70px;
  }

  .sm-padding-bottom-80 {
    padding-bottom: 80px;
  }

  .sm-padding-bottom-90 {
    padding-bottom: 90px;
  }

  .sm-padding-bottom-100 {
    padding-bottom: 100px;
  }

  /*------------------*/
  .sm-padding100 {
    padding: 100px;
  }

  .sm-padding90 {
    padding: 90px;
  }

  .sm-padding80 {
    padding: 80px;
  }

  .sm-padding70 {
    padding: 70px;
  }

  .sm-padding60 {
    padding: 60px;
  }

  .sm-padding50 {
    padding: 50px;
  }

  .sm-padding40 {
    padding: 40px;
  }

  .sm-padding30 {
    padding: 30px;
  }

  .sm-padding20 {
    padding: 20px;
  }

  .sm-padding10 {
    padding: 10px;
  }

  .sm-padding0 {
    padding: 0px;
  }

  /*-----------------*/
  .section-padding {
    padding: 80px 0;
  }

  .padding-top {
    padding-top: 80px;
  }

  .padding-bottom {
    padding-bottom: 80px;
  }

  .padding-100-50 {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .padding-100-70 {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .padding-100-30 {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .xs-padding-top-10 {
    padding-top: 10px;
  }

  .xs-padding-top-20 {
    padding-top: 20px;
  }

  .xs-padding-top-30 {
    padding-top: 30px;
  }

  .xs-padding-top-40 {
    padding-top: 40px;
  }

  .xs-padding-top-50 {
    padding-top: 50px;
  }

  .xs-padding-top-60 {
    padding-top: 60px;
  }

  .xs-padding-top-70 {
    padding-top: 70px;
  }

  .xs-padding-top-80 {
    padding-top: 80px;
  }

  .xs-padding-top-90 {
    padding-top: 90px;
  }

  .xs-padding-top-100 {
    padding-top: 100px;
  }

  .xs-padding-bottom-10 {
    padding-bottom: 10px;
  }

  .xs-padding-bottom-20 {
    padding-bottom: 20px;
  }

  .xs-padding-bottom-30 {
    padding-bottom: 30px;
  }

  .xs-padding-bottom-40 {
    padding-bottom: 40px;
  }

  .xs-padding-bottom-50 {
    padding-bottom: 50px;
  }

  .xs-padding-bottom-60 {
    padding-bottom: 60px;
  }

  .xs-padding-bottom-70 {
    padding-bottom: 70px;
  }

  .xs-padding-bottom-80 {
    padding-bottom: 80px;
  }

  .xs-padding-bottom-90 {
    padding-bottom: 90px;
  }

  .xs-padding-bottom-100 {
    padding-bottom: 100px;
  }

  /*------------------*/
  .xs-padding100 {
    padding: 100px;
  }

  .xs-padding90 {
    padding: 90px;
  }

  .xs-padding80 {
    padding: 80px;
  }

  .xs-padding70 {
    padding: 70px;
  }

  .xs-padding60 {
    padding: 60px;
  }

  .xs-padding50 {
    padding: 50px;
  }

  .xs-padding40 {
    padding: 40px;
  }

  .xs-padding30 {
    padding: 30px;
  }

  .xs-padding20 {
    padding: 20px;
  }

  .xs-padding10 {
    padding: 10px;
  }

  .xs-padding0 {
    padding: 0px;
  }

  /*----------------*/
  .section-padding {
    padding: 50px 0;
  }

  .padding-top {
    padding-top: 50px;
  }

  .padding-bottom {
    padding-bottom: 50px;
  }

  .padding-100-50 {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .padding-100-70 {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .padding-100-30 {
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

/* ----------------------------
      BACKGROUND CSS
  ------------------------------- */

.theme__bg1 {
  position: relative;
  z-index: 2;
}

.white__bg {
  background: #fff;
}

.bgf {
  background-attachment: fixed;
}

/* ----------------------------
      BORDER CSS
  ------------------------------ */
.border-radious3 {
  border-radius: 3px;
  overflow: hidden;
}

.border-radious4 {
  border-radius: 4px;
  overflow: hidden;
}

.border-radious5 {
  border-radius: 5px;
  overflow: hidden;
}

.border-radious55 {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.border-radious7 {
  border-radius: 7px;
  overflow: hidden;
}

.border-radious10 {
  border-radius: 10px;
}

.border-radious20 {
  border-radius: 20px;
}

.border-radious50 {
  border-radius: 50px;
}

.border-_5px_white {
  border: 0.5px solid #fff;
}

/*-----------------------
      SHADOW CSS
  ------------------------*/
.no-shadow {
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

/*==============
  SPACE CSS
  =================*/

.space-100 {
  height: 100px;
}

.space-50 {
  height: 50px;
}

.space-80 {
  height: 80px;
}

.space-40 {
  height: 40px;
}

.space-60 {
  height: 60px;
}

.space-70 {
  height: 70px;
}

.space-30 {
  height: 30px;
}

.space-20 {
  height: 20px;
}

.space-15 {
  height: 15px;
}

.space-10 {
  height: 10px;
}

.space-5 {
  height: 5px;
}

/* -------------------------------------------------------------------------- */
/*                             DISPLAY VISIBILITY                             */
/* -------------------------------------------------------------------------- */

.hide {
  display: none !important;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .hidden-md {
    display: none !important;
  }
}
